.scrollTableBody {
    height: 350px;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.scrollTable table {
    width:100%;
    table-layout: fixed;
    border: none;
}
.scrollTable thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #1c72b9;
    font-size: 20px;
    border-left: 1px solid #696969;
    border-right: 1px solid #696969FF;
    height: 50px;
    color: white;
}
.scrollTable tbody td {
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.scrollTable tbody tr:nth-child(even){
    background: #f3f3f3;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.deckCover {
    width: 100px;
    height: 100px;
}

.textPackName {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    /*width: 100px;*/
    /*text-align: center;*/
}